body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

header {
    padding: 40px;
    text-align: center;
    background: #020617;
}

section {
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #38bdf8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 8px 0;
}

.projeto {
    background: #020617;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}

button {
    background: #38bdf8;
    color: #020617;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #0ea5e9;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    font-size: 14px;
}

.form input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 14px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #101a35;
    color: #ffffff;
    font-size: 14px;
    transition: 0.3s;
}

/* PLACEHOLDER */
.form input::placeholder {
    color: #aab3ff;
}

/* EFEITO FOCUS */
.form input:focus {
    box-shadow: 0 0 8px #1ec9ff;
    background-color: #0f1c3d;
}

/* BOTÃO */
.form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #00c6ff, #0400ff);
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* HOVER BOTÃO */
.form button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 153, 255, 0.6);
}
